.body { 
   overflow: scroll;  
}

#header { 
  height: 75px;
  background-color: darkgoldenrod;
/*   color */ 
}

#mapdiv { 
  height: 75px;
  background-color: salmon;
}

#side_panel { 
  height: 850px;
  background-color: beige;
}

#footer { 
  height: 100%;
  background-color: darkgrey;
}
