.body { 
   overflow: scroll;  
}

#header { 
  height: 75px;
  background-color: darkgoldenrod;
/*   color */ 
}

#container {
  height: auto;
   background-color:salmon;
}
/*
#mapdiv { 
  height: auto;
  background-color: salmon;
}
*/

#side_panel { 
  height: 850px;
  background-color: beige;
}

#footer { 
  height: 100%;
  background-color: darkgrey;
}
